<!DOCTYPE html><html xmlns="http://www.w3.org/1999/xhtml" lang="ja"><head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width">
<meta name="_csrf" content="9d5abd6d-85f4-4f30-aea9-65d7a4b83b7e">
<meta name="_csrf_header" content="X-CSRF-TOKEN">

<title>
    マイページ ログイン
    
  </title>
<link href="/portal/css/bootstrap.min.css" rel="stylesheet">
<link href="/portal/css/style_cmn.css" rel="stylesheet">
<link href="/portal/css/style_btn.css" rel="stylesheet">
<link href="/portal/css/L0526.css" rel="stylesheet">
<link href="/portal/favicon.ico" rel="icon">

<script src="/portal/js/jquery.js"></script>
<script src="/portal/js/bootstrap.min.js"></script>
<script src="/portal/js/script_cmn.js"></script>
<script src="/portal/js/L0526.js"></script>


</head>

<body>

<header class="active">
  <div class="header-inner">
    <a class="logo" href="https://portal.tokyostarbank.co.jp/my-page/wb015c"></a>
    
  </div>
</header>

<div class="contents">
  <div id="title">
  <h1 id="h1Title" class="contents-h1 contents-h1-mypage">
    <span>マイページ ログイン</span>
    
  </h1>
  
  <script>
    document.addEventListener('readystatechange', function() {
      if(document.readyState === 'interactive') {
        document.title = $('#h1Title').text();
      }
    });
  </script>
</div>
  <div class="contents-wrap">
    <h2 class="f-16 text-center border-bottom-clr pb-3 mt-3-5 mb-4">マイページIDとパスワードを入力してください。</h2>
    <h2 class="f-16 text-center border-bottom-clr pb-3 mt-3-5 mb-4">ID/パスワードのご入力は半角英数字および記号で入力してください。<br>大文字小文字/全角半角の入力間違いにご注意ください。</h2>
    

    <form class="login-form text-center" action="/portal/log0101" method="post"><input type="hidden" name="_csrf" value="9d5abd6d-85f4-4f30-aea9-65d7a4b83b7e">
      <div class="form-group">
        <label for="text1" class="icn-before icn-user-big">マイページID</label>
        <input type="text" class="form-control" name="smypgid" inputmode="url">
      </div>
      <div class="form-group">
        <label for="pass1" class="icn-before icn-pass-big">マイページパスワード</label>
        <input id="pass1" type="password" class="form-control" name="pswdagk" inputmode="url">
      </div>
      <div class="form-group form-check d-flex justify-content-center">
        <div>
          <input type="checkbox" class="form-check-input w-auto mb-0" id="js_passcheck">
          <label class="form-check-label" for="js_passcheck">パスワードを表示</label>
        </div>
      </div>
      <button type="submit" class="btn icn-before icn-lgin f-17 p-20 mx-auto mt-4 w-80 d-block">ログイン</button> 
    </form>

    <p class="text-center mt-4-5 icn-before icn-help">ログインでお困りの方はこちら</p>
    <ul class="d-md-flex">
      <li class="w-100 w-md-50 my-3">
        <a class="btn btn-frame p-18 text-left icn-before icn-arow-clr d-block" href="https://portal.tokyostarbank.co.jp/my-page/wb013c">マイページIDをお忘れの方</a>
      </li>
      <li class="w-100 w-md-50 my-3 ml-md-3">
        <a class="btn btn-frame p-18 text-left icn-before icn-arow-clr d-block" href="https://portal.tokyostarbank.co.jp/my-page/wb014c">マイページパスワードをお忘れの方</a>
      </li>
    </ul>
    <div id="comment" class="attention mt-5">
    <div>
      <h3 class="f-16 text-center border-bottom-2 border-clr pb-2 icn-before icn-attn">ご注意事項（必ずお読みください）</h3>
      <ul class="f-13 my-2 list-attn">
        
        <li>マイページID/パスワードをお忘れの方は「ログインでお困りの方はこちら」より再通知（再発行）のお手続きをしてください。</li>
        <li>初めてログインされる方はメールにてご案内済のマイページＩＤと仮パスワードを入力してください。</li>
        <li><span id="mypage_inquiry">マイページに関する問い合わせにつきましては、株式会社東京スター銀行　無担保ローン：0120-82-1154（平日9:00-17:00）、有担保ローン：0120-18-1776（平日9:00-17:00）までお問い合わせください。（銀行休業日を除きます。）</span></li>
        <li>パスワードを3回間違えてご入力された場合、無効となりご利用いただくことができなくなりますのでご注意ください。</li>
        <li>パスワードは安全のために第三者に類推されやすいものや、他のインターネットサービスと同じパスワードのご使用は避けてください。また、パスワードは他人に知られることのないよう厳重に管理するとともに、定期的に変更していただくことをお勧めいたします。</li>
        <li>前のページに戻るには、ページ内の「戻る」ボタンを押してください。
<br>（ブラウザの「戻る」ボタンは使用しないでください。）</li>
        <li>当コンテンツは、JavaScriptを利用しています。お使いのブラウザーでJavaScriptの設定が無効になっていると、コンテンツ内の機能が限定されたり、利用できなかったりする場合があります。必ずJavaScriptを有効に設定してからご利用ください。JavaScriptを有効にする方法は、ご利用のブラウザーおよびバージョンによって異なります。詳しくはお使いのブラウザーのヘルプをご覧ください。</li>
      </ul>
      
      
      
      
      
      
      
      
    </div>
</div>
  </div>
</div>

<footer>
  <div class="pagetop" style="display: block;">
    <a href="#">
      <span>ページトップ</span>
    </a>
  </div>
  <div class="footer-utility">
    <div class="footer-inner">
      <ul class="footer-utility-logo">
        
        
          <li class="logo-prim">
            <a href="https://www.tokyostarbank.co.jp/index.html" target="_blank">
            </a>
          </li>
        
      </ul>
      <!--
      <ul class="footer-utility-nav">
        <li><a th:href="${#el.str('/other/terms/')}" target="_blank" th:text="${#el.str('本サイトのご利用にあたって')}"></a></li>
      </ul>
      -->
    </div>
    <p class="footer-copyright">Copyright © The Tokyo Star Bank, Limited</p>
  </div><!-- /.footer-utility -->
</footer>
</body></html>